:root {
  background-color: #0a192f;
  color: #8892b0;
  color-scheme: light dark;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

html {
  scroll-padding-top: 28%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

ul {
  margin-left: -1em;
  list-style-type: "▸";
}

ol {
  padding-left: 0;
  margin-left: 0;
  counter-reset: item;
  font-family: "Source Code Pro", monospace;
  list-style-type: none;
}

ol li {
  counter-increment: item;
}

ol li::before {
  margin-right: -18px;
  color: #64ffda;
  content: counter(item, decimal-leading-zero) ". ";
  font-size: 14px;
}

h3 {
  margin-top: -2%;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

.name-style {
  margin-top: 4%;
  margin-bottom: -1%;
  color: #ccd6f6;
  font-size: clamp(16px, 5rem, 5vw);
}

.subheader-style {
  margin-bottom: 4%;
  font-size: clamp(16px, 4rem, 4vw);
}

.intro-p-style {
  margin-right: 50%;
  font-size: 1rem;
}

.about-list {
  column-gap: 1em;
  columns: 2;
  list-style: none;
  list-style-position: inside;
}

.slide-container {
  padding-right: 10%;
  padding-left: 10%;
  margin-top: 5%;
  margin-bottom: 12%;
}

.component {
  margin-top: 50%;
}

.navigation {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.navigation ol {
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation li {
  margin-right: 1.5rem;
  color: #a8b2d1;
  list-style-type: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.ext-gh {
  display: flex;
  padding-top: 2%;
  margin-left: 4%;
}

.project-link:hover {
  color: #64ffda;
  transform: translateY(-2%);
}

.title-container {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 3%;
}

.title-container h2 {
  padding: 0%;
  margin-top: 0;
  margin-right: 0%;
  margin-bottom: 0;
  font-size: 1.7rem;
}

.project-photo-right {
  margin-left: 6%;
}

.project-photo-right img {
  max-width: 100%;
  height: auto;
  margin-top: 6%;
  filter: sepia(65%) saturate(150%) hue-rotate(178deg) brightness(90%)
    contrast(100%) drop-shadow(16px 16px 0 hsl(216deg 65% 6%));
  transition: all 0.3s ease;
}

.project-photo-left img {
  max-width: 100%;
  height: auto;
  margin-top: 6%;
  filter: sepia(65%) saturate(150%) hue-rotate(178deg) brightness(90%)
    contrast(100%) drop-shadow(16px 16px 0 hsl(216deg 65% 6%));
  transition: all 0.3s ease;
}

.project-photo-right img:hover {
  filter: none;
}

.project-photo-left {
  margin-right: 6%;
}

.project-photo-left img:hover {
  filter: none;
}

#my-photo img {
  max-width: 300px;
  height: auto;
  margin-top: 6%;
  margin-left: 5%;
  filter: sepia(65%) saturate(150%) hue-rotate(178deg) brightness(80%)
    contrast(100%) drop-shadow(16px 16px 0 hsl(216deg 67% 6%));
  transition: all 0.3s ease;
}

#my-photo img:hover {
  filter: none;
}

.navigation a {
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-link {
  order: -1;
  margin-right: auto;
}

.navigation a:hover {
  color: #64ffda;
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.scroll-show {
  background-color: #0a192f;
  box-shadow: 0 4px 10px rgb(0 0 0 / 40%);
}

.centered {
  text-align: center;
}

.logo-icon {
  margin-right: 0.5em;
  color: #64ffda;
}

.logo-icon:hover {
  transform: translateY(-5%);
}

body {
  align-items: center;
  justify-content: center;
  padding: 1%;
  margin: 0;
  margin-top: 15%;
  margin-right: 25%;
  margin-left: 25%;
}

button {
  padding: 0.8em;
  border: 1px solid #64ffda;
  border-radius: 4px;
  background-color: transparent;
  color: #64ffda;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}

button:hover {
  background-color: rgb(100 255 218 / 10%);
  cursor: pointer;
}

.monogreen {
  color: #64ffda;
  font-family: "Source Code Pro", monospace;
  font-size: clamp(12px, 1rem, 1vw);
}

.at-symbol {
  font-size: 1rem;
}

@media (max-width: 572px) {
  .navigation {
    display: none;
  }
}

@media (max-width: 745px) {
  .icon-link {
    display: none;
  }
}

@media (max-width: 823px) {
  ol li::before {
    display: none;
  }
}
